.modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
}
  
.modal_content {
  background-color: #ffffff;
  position: absolute;
  top: 1%;
  left: 20%;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000000;
}
  
.close {
  color: #000000;
  float: right;
  font-size: 30px;
}
  
.close:hover {
  color: #ff0000;
  cursor: pointer;
}

table td, table tr {
  padding: 10px;
}